@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

/*
    Landing Page
*/

.landingPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.landingLinkGroup{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.landingTitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 3em;
}

.landingLinkColor{
    color: white;
}

.linkPrimary{
    background-color: #3498db;
    width: 7em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-right: 0.5em;
    border-radius: 0.25em;
}

.linkSecondary{
    background-color: #95a5a6;
    width: 7em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 0.3em;
    border-radius: 0.25em;
}

/*
    Left Right Columns
*/

.leftNavColumn {
    background-color: #2980b9; 
    padding-top: 2.5vh;
    font-family: 'Open Sans', sans-serif;
}

.navTitle{
    font-weight: 700;
    font-size: 2em;
    padding-bottom: 80vh;
    color: white;
}

.navLinkColor{
    color: white;
    font-weight: 700;
    font-size: 2em;
}

.navGroup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1em;

}

.rightDashboardColumn {
    background-color: #ecf0f1;
    padding-top: 2.5vh;
   
}

.dashboardBody {
    height: 100vh;
}




/* 
    Cards          
*/


.singleCards{
    background-color: white;
    margin-bottom: 1em;
    margin-right: 1em;
   height: 45vh;

}

.singleCardInternal{
    background-color: red;
}

.cardGrid{

}

.cardEditIcon{
    color: #bdc3c7;
    font-size: 1.5em;
    text-align: right;
}


/*
    Edit Lift
*/

.editLiftPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
    
}

.editTitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 3em;

   
}

.editLiftData{
    display: flex;
    justify-content: space-between;
}


@media only screen 
  and (max-device-width: 768px) 
 { 
    .landingTitle{
        font-size: 2.5em;
    }
    
    .singleCards{
        margin-right:0;
    }

    .navGroup{
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.7em;
    }

    .navTitle{
        padding-bottom: 0;
        font-size: 1.2em;
    }

    .navLinkColor{
        font-size: 1.2em;
    }

    .leftNavColumn{
        padding-top: 0;
    }

 }
